version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    labels:
      - "dependencies"
    schedule:
      interval: "daily"
    commit-message:
      prefix: "chore: "
    target-branch: "master"

  - package-ecosystem: "pip"
    directory: "/bq-job-optimizer-airflow-2"
    labels:
      - "dependencies"
    schedule:
      interval: "daily"
    commit-message:
      prefix: "chore: "
    target-branch: "master"

  - package-ecosystem: "github-actions"
    directory: "/"
    labels:
      - "dependencies"
    schedule:
      interval: "daily"
    commit-message:
      prefix: "chore: "
    target-branch: "master"
